@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@font-face {
    font-family: Cheekbone;
    src: url("fonts/Zanzabar.otf");
}
body {
    margin: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin: 0px;
    font-family: Cheekbone, decorative;
}
h2{
    font-family: 'Nunito Sans', cursive;
    margin: 0;
}
#page{
    background-color: rgb(245, 230, 203);
}
#navbar, #navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#navbar li{
    background-color:  rgb(246, 239, 230);
    /* width of main = 600px
    width of each option = 600/4 = 150 */
    width: 150px;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: center;
    background-color:  rgb(246, 239, 230);
    /* position: fixed; */
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
#navbar li:hover{
    background-color: rgb(138, 55, 55);
}
#navbar a{
    text-decoration: none;
    color: black;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#navbar ul{
    position: absolute;
    display: none;

}
#navbar ul ul{
    left: 150px;
    top: 0;
    display: none;
}
#navbar li:hover > ul{
    display: block;
}
#footer {
    background-color: rgb(138, 55, 55);
    color: #FFF;
    text-align: center;
    word-spacing: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 0.8em;
}
#active-menu{
    background-color: rgb(138, 55, 55);
}